<div style="background-color: #eeeeee; padding: 32px">
    <div style="padding: 32px">
        <a href="https://www.redigindo.com.br/" target="_blank" style="display: block; margin: 0px auto; width: 324px;">
            <%= image_tag "https://i.imgur.com/ulCZMsI.png", class: "img-fluid", alt: "Logo Redigindo",
            style: "display: block; width: 324px; height: 90px" %>
        </a>
    </div>
    <div style="width: 50%; margin: 0 auto; padding: 37px; background-color: #ffffff; border: 1px solid #cccccc;
                box-shadow: 0px 0px 3px -1px #888888;">
        <div style="width: 100%;">
            <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            font-weight: 500; color: #333333; text-align: center; padding: 0; margin: 0;">
                Olá <%= @user.username %>!
            </h2>
        </div>
        <div style="width: 100%;">
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400; color: #777777; 
                                text-align: center; padding: 16px; margin: 0;">
                Clique no link abaixo para redefinir sua senha:
            </p>
        </div>

        <div style="width: 100%; text-align: center;">
            <%= link_to 'Redefinir Senha', edit_password_reset_url(@user.reset_token, email: @user.email),
            style: "display:block; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400; text-decoration: none; 
            color: #ffffff; background-color: #080f3b; padding: 16px; text-align: center" %>
        </div>

        <div style="width: 100%;">
            <span style="display: block; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400; font-size: 0.90em; color: #333333; 
                    text-align: center; padding: 16px 0 0 0;">
                Esse link expirará em 2 horas.
            </span>
        </div>
        <div style="width: 100%;">
            <span style="display: block; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400; font-size: 0.85em; color: #333333; 
                    text-align: center; padding: 8px 0 0 0;">
                Se você não solicitou essa redifinição de senha, por favor, ignore esse email.
            </span>
        </div>
    </div>
    <div style="width: 100%; text-align: center; padding: 32px 0 12px 0">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight: 300;">
            <%= DateTime.current.year %>
            &copy; Redigindo
        </span>
    </div>
    <div style="width: 100%; text-align: center;">
        <%= link_to "Facebook", "https://www.facebook.com/redigindopreparatorio/", target: :_blank,
            style: "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 0.90em; text-decoration: none; padding: 0px 12px" %>
        <%= link_to "Instagram", "https://www.instagram.com/redigindopreparatorio/", target: :_blank,
            style: "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 0.90em; text-decoration: none; padding: 0px 12px" %>
    </div>
</div>