<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm mb-3 text-dark">
            <h5 class="card-header">Editar Perfil</h5>
            <div class="card-body row">
                <div class="col-3 border-right border-black">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#basic" role="tab" aria-controls="basic"
                            aria-selected="true">Conta</a>
                        <a class="nav-link" data-toggle="pill" href="#security" role="tab" aria-controls="security"
                            aria-selected="false">Segurança</a>
                        <a class="nav-link" data-toggle="pill" href="#personal" role="tab" aria-controls="personal"
                            aria-selected="false">Pessoal</a>
                        <a class="nav-link" data-toggle="pill" href="#scholarity" role="tab" aria-controls="scholarity"
                            aria-selected="false">Escolaridade</a>
                        <a class="nav-link" data-toggle="pill" href="#category" role="tab" aria-controls="category"
                            aria-selected="false">Categoria</a>
                        <a class="nav-link" data-toggle="pill" href="#classroom" role="tab" aria-controls="classroom"
                            aria-selected="false">Turma</a>
                    </div>
                </div>
                <div class="col-9">
                    <%= form_with model: @student, url: edit_student_path(@student.user.name.delete(' ')), local: true, id: "update_form",
                    class: 'flex-fill tab-content' do |f| %>
                    <%= f.fields_for :user do |user_field| %>
                    <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                        <div class="form-group">
                            <%= user_field.label :email, 'Email:' %>
                            <%= user_field.text_field :email, class: "form-control", placeholder: "Email", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:email].first if @student.errors.any? %></span>
                        </div>
                        <div class="form-group">
                            <%= user_field.label :username, 'Username:' %>
                            <%= user_field.text_field :username, class: "form-control", placeholder: "Username", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:username].first if @student.errors.any? %></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <div class="form-group">
                            <%= user_field.label :password, 'Senha:' %>
                            <%= user_field.password_field :password, class: "form-control", placeholder: "*********" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:password].first if @student.errors.any? %></span>

                        </div>
                        <div class="form-group">
                            <%= user_field.label :password_confirmation, 'Confirmar Senha:' %>
                            <%= user_field.password_field :password_confirmation, class: "form-control", placeholder: "*********" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:password_confirmation].first if @student.errors.any? %></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <div class="form-group">
                            <%= user_field.label :name, 'Nome:' %>
                            <%= user_field.text_field :name, class: "form-control", placeholder: "Name", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:name].first if @student.errors.any? %></span>

                        </div>
                        <div class="form-group">
                            <%= user_field.label :birth_date, 'Data de Nascimento:' %>
                            <%= user_field.date_field :birth_date, class: "form-control", placeholder: "Birth Date", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:birth_date].first if @student.errors.any? %></span>

                        </div>
                        <div class="form-group">
                            <%= user_field.label :cpf, 'CPF:' %>
                            <%= user_field.text_field :cpf, class: "form-control", placeholder: "CPF", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:cpf].first if @student.errors.any? %></span>
                        </div>
                        <div class="form-group">
                            <%= user_field.label :rg, 'RG:' %>
                            <%= user_field.text_field :rg, class: "form-control", placeholder: "RG", autocomplete: "off" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:rg].first if @student.errors.any? %></span>
                        </div>
                        <div class="form-group">
                            <%= user_field.label :address_id, 'Cidade:' %>
                            <%= user_field.select 'address_id', @address_options ,{ include_blank: 'Selecione a cidade...'},
                            class: "form-control custom-select" %>
                            <span
                                class="text-danger"><%= @student.user.errors.messages[:address].first if @student.errors.any? %></span>
                        </div>
                    </div>
                    <% end %>

                    <div class="tab-pane fade" id="scholarity" role="tabpanel" aria-labelledby="scholarity-tab">
                        <div class="form-group">
                            <%= f.label :school_id, 'Escola:' %>
                            <%= f.select 'school_id', @school_options ,{ include_blank: 'Selecione a escola...'},
                            class: "form-control custom-select" %>
                            <span
                                class="text-danger"><%= @student.errors.messages[:school].first if @student.errors.any? %></span>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
                        <div class="form-group">
                            <%= f.label :category_id, 'Categoria:' %>
                            <%= f.select 'category_id', @category_options ,{ include_blank: 'Selecione a categoria...'},
                            class: "form-control custom-select" %>
                            <span
                                class="text-danger"><%= @student.errors.messages[:category].first if @student.errors.any? %></span>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="classroom" role="tabpanel" aria-labelledby="classroom-tab">
                        <div class="form-group">
                            <%= f.label :classroom_id, 'Turma:' %>
                            <%= f.select 'classroom_id', @classroom_options ,{ include_blank: 'Selecione a turma...'},
                                                    class: "form-control custom-select" %>
                            <span
                                class="text-danger"><%= @student.errors.messages[:category].first if @student.errors.any? %></span>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                    <input type="submit" value="Salvar" form="update_form" name="commit"
                        class="btn btn-outline-primary">
                </div>
            </div>
        </div>
    </div>
</div>

<% if @student.errors.any? %>
<script>

    $(".form-group input, .form-group select").each(function () {
        $(this).removeClass("border-dark").addClass("border-danger");
    })

</script>
<% end %>