<div class="row">
    <div class="col-md-12">
        <div class="card mb-3 text-dark shadow-sm">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Perfil</h5>
                <h6><strong>Matricula: </strong> <%= @student.registration_number %></h6>
                <h6><strong>E-mail: </strong> <%= @student.user.email %></h6>
                <h6><strong>Username: </strong> <%= @student.user.username %></h6>
                <h6><strong>Nome: </strong> <%= @student.user.name %></h6>
                <h6><strong>Data de Nascimento: </strong> <%= @student.user.birth_date.strftime("%d/%m/%Y") %></h6>
                <h6><strong>CPF: </strong> <%= @student.user.cpf %></h6>
                <h6><strong>Cidade: </strong> <%= @student.user.address.city %>-<%= @student.user.address.state %></h6>
                <h6><strong>Escola: </strong> <%= @student.school.name %></h6>
                <h6><strong>Turma: </strong> <%= @student.classroom.name %></h6>
                <h6><strong>Categoria: </strong> <%= @student.category.description %></h6>
                <%= link_to 'Voltar', classroom_path(@student.classroom), class: "align-self-center btn btn-primary" %>
            </div>
        </div>
    </div>
</div>