<%= form_with(model: @school, local: true, class: "d-flex flex-column") do |f| %>

<div class="form-group">
    <%= f.label :name, "Escola:" %>
    <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
    <span class="text-danger"><%= @school.errors.messages[:name].first if @school.errors.any? %></span>
</div>

<div class="form-group align-self-center">
    <%= f.button class: "btn btn-primary mr-2" do %>
     
    <span>Salvar</span>
    <% end %>

    <%= link_to schools_path, class: "btn btn-primary mr-2" do %>
    
    <span>Cancelar</span>
    <% end %></div>

<% end %>

<% if @school.errors.any? %>
<script>

    $(".form-group input, .form-group select").each(function () {
        $(this).removeClass("border-dark").addClass("border-danger");
    })

</script>
<% end %>