<div class="row">
    <div class="col-md-12">
        <div class="card mb-3 text-dark shadow-sm">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 d-flex">
                        <h5 class="card-title mb-0 align-self-center"><%= @competence.description %></h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <%= link_to new_comment_path(competence: @competence), class: "btn btn-link" do %>
                        <span data-toggle="tooltip" data-placement="top" title="Novo Comentário">
                            <%= fa_icon "plus" %>
                        </span>
                        <% end %>
                    </div>
                </div>
                <div class="table-responsive-md">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th style="width: 90%;">Comentário</th>
                        </thead>
                        <tbody>
                            <% @comments.each do |comment| %>
                            <tr>
                                <td class="align-middle"><%= comment.description %></td>
                                <td class="align-middle">
                                    <%= link_to edit_comment_path(@competence.category, @competence, comment), class: "btn btn-link" do %>
                                    <span data-toggle="tooltip" data-placement="top" title="Editar">
                                        <%= fa_icon 'pencil-alt' %>
                                    </span>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <%= will_paginate @comments, list_classes: %w(pagination justify-content-center),
                                        next_label: "&#62;", previous_label: "&#60;"  %>
            </div>
        </div>
    </div>
</div>