<div class="d-flex">
    <div class="col-md-6 d-flex">
        <div class="card mb-3 text-dark shadow-sm flex-fill">
            <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#essayModal">
                    <%= image_tag @correction.essay.file, class: "img-fluid" if @correction.essay.file.attached?%>
                </a>
            </div>
        </div>
    </div>

    <div id="essayModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="essayModal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Redação enviada</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-self-center">
                    <%= image_tag @correction.essay.file.variant(resize: '1123x1587') if @correction.essay.file.attached? %>
                </div>
            </div>
        </div>
    </div>

    <div id="finishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="finishModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Finalizar Correção</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <%= form_with(model: @correction, url: finish_correction_path(@correction.hash_id), method: :post, local: true) do |f| %>
                <div class="modal-body align-self-center">
                    <div class="form-group">
                        <%= f.label :final_comment, "Comentário Final" %>
                        <%= f.text_area :final_comment, placeholder: "Escreva um comentário sobre a redação enviada", class: "form-control", rows: 10 %>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <%= f.submit "Finalizar", class: "btn btn-primary" %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-6 d-flex flex-column">
        <div class="d-flex">
            <div class="card mb-3 text-dark shadow-sm flex-fill">
                <div class="card-body">
                    <h5 class="card-title">Redação</h5>
                    <h6><strong>Tema: </strong><%= @correction.essay.theme.description %></h6>
                    <h6><strong>Enviada por: </strong><%= @correction.student.user.username %></h6>
                    <h5><strong class="text-primary">Nota: </strong><%= @correction.final_score %></h5>
                    <a class="btn btn-primary btn-block text-white" data-toggle="modal"
                        data-target="#finishModal">Finalizar Correção</a>
                    <%= link_to  "Sair e Salvar Correção", corrections_path, class: "btn btn-primary btn-block" %>
                </div>
            </div>
        </div>

        <div class="d-flex flex-fill" >
            <div class="card mb-3 text-dark shadow-sm flex-fill">
                <div class="card-body">
                    <h5 class="card-title">Adicionar Comentários</h5>
                    <%= form_with(model: @correction, url: update_correction_path(@correction.hash_id), local: true) do |f| %>

                    <div class="form-group">
                        <%= f.label :essay_line, "Linha" %>
                        <%= f.text_field :essay_line, class: "form-control", autocomplete: "off" %>
                    </div>

                    <div class="form-group">
                        <%= f.label :text_cut, "Recorte do Texto" %>
                        <%= f.text_field :text_cut, class: "form-control", autocomplete: "off" %>
                    </div>

                    <div class="form-group">
                        <%= f.label :penalty, "Penalidade" %>
                        <%= f.number_field :penalty, min: 0,  max: -@correction.competences.first.max_penalty, value: 0, class: "form-control", autocomplete: "off" %>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="d-block card-header text-left btn btn-link card-link" data-toggle="collapse"
                                data-target="#gramatica" aria-expanded="true" aria-controls="gramatica">
                                <h5 class="mb-0"><%= @competences[0].competence.description %> -
                                    <strong><%= -@competences[0].competence.max_penalty + @competences[0].penalty %></strong>
                                </h5>
                            </div>
                            <div id="gramatica" class="collapse" aria-labelledby="" data-prevent="#accordionExample">
                                <%   @competences[0].competence.comments.each do |comment| %>
                                <%= f.button comment.description, value: comment.id.to_s, name: 'comment', class: "btn btn-light btn-block text-left m-0 rounded-0" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-block card-header text-left btn btn-link card-link" data-toggle="collapse"
                                data-target="#compreensao" aria-expanded="true" aria-controls="compreensao">
                                <h5 class="mb-0"><%= @competences[1].competence.description %> -
                                    <strong><%= -@competences[1].competence.max_penalty + @competences[1].penalty %></strong>
                                </h5>
                            </div>
                            <div id="compreensao" class="collapse" aria-labelledby="" data-prevent="#accordionExample">
                                <%   @competences[1].competence.comments.each do |comment| %>
                                <%= f.button comment.description, value: comment.id.to_s, name: 'comment', class: "btn btn-light btn-block text-left m-0 rounded-0" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-block card-header text-left btn btn-link card-link" data-toggle="collapse"
                                data-target="#argumentacao" aria-expanded="true" aria-controls="argumentacao">
                                <h5 class="mb-0"><%= @competences[2].competence.description %> -
                                    <strong><%= -@competences[2].competence.max_penalty + @competences[2].penalty %></strong>
                                </h5>
                            </div>
                            <div id="argumentacao" class="collapse" aria-labelledby="" data-prevent="#accordionExample">
                                <%   @competences[2].competence.comments.each do |comment| %>
                                <%= f.button comment.description, value: comment.id.to_s, name: 'comment', class: "btn btn-light btn-block text-left m-0 rounded-0" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-block card-header text-left btn btn-link card-link" data-toggle="collapse"
                                data-target="#coesao" aria-expanded="true" aria-controls="coesao">
                                <h5 class="mb-0"><%= @competences[3].competence.description %> -
                                    <strong><%= -@competences[3].competence.max_penalty + @competences[3].penalty %></strong>
                                </h5>
                            </div>
                            <div id="coesao" class="collapse" aria-labelledby="" data-prevent="#accordionExample">
                                <%   @competences[3].competence.comments.each do |comment| %>
                                <%= f.button comment.description, value: comment.id.to_s, name: 'comment', class: "btn btn-light btn-block text-left m-0 rounded-0" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-block card-header text-left btn btn-link card-link" data-toggle="collapse"
                                data-target="#proposta" aria-expanded="true" aria-controls="proposta">
                                <h5 class="mb-0"><%= @competences[4].competence.description %> -
                                    <strong><%= -@competences[4].competence.max_penalty + @competences[4].penalty %></strong>
                                </h5>
                            </div>
                            <div id="proposta" class="collapse" aria-labelledby="" data-prevent="#accordionExample">
                                <%   @competences[4].competence.comments.each do |comment| %>
                                <%= f.button comment.description, value: comment.id.to_s, name: 'comment', class: "btn btn-light btn-block text-left m-0 rounded-0" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class="col-md-12 d-flex">
        <div class="card mb-3 text-dark shadow-sm flex-fill">
            <div class="card-body">
                <h5 class="card-title">Comentários</h5>
                <div class="table-responsive-md">
                    <table class="table table-bordered table-striped  ">
                        <thead>
                            <th style="width: 9%;">Linha</th>
                            <th style="width: 50%;">Recorte do texto</th>
                            <th style="width: 30%;">Comentário</th>
                            <th style="width: 9%;">Penalidade</th>
                        </thead>
                        <tbody>
                            <% @correction.correction_comments.order(essay_line: 'asc').each do |cc| %>
                            <tr>

                                <td class="align-middle"><%= cc.essay_line %></td>
                                <td class="align-middle"><%= cc.text_cut %></td>
                                <td class="align-middle"><%= cc.comment.description %></td>
                                <td class="align-middle"><%= cc.penalty %></td>
                                <td class="align-middle">
                                    <%= button_to destroy_correction_comment_path(cc.id), method: :delete, class: "btn btn-link" do %>
                                    <span data-toggle="tooltip" data-placement="top" title="Excluir Comentário">
                                        <%= fa_icon 'trash' %>
                                        <% end %>
                                    </span>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>