<div class="row">
  <div class="col-md-12">
    <div class="card mb-3 text-dark shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Redações Recebidas</h5>
        <div class="table-responsive-md">
          <table class="table table-bordered table-striped  ">
            <thead>
              <th style="width: 35%;">Tema</th>
              <th style="width: 30%;">Enviada por</th>
              <th style="width: 15%;">Data de Envio</th>
              <th style="width: 10%;">Categoria</th>
              <th style="width: 10%;">Arquivo</th>
            </thead>
            <tbody>
              <% @essays.each do |essay| %>
              <tr>
                <td class="align-middle"><%= essay.theme.description %></td>
                <td class="align-middle"><%= essay.student.user.username %></td>
                <td class="align-middle"><%= essay.submission_date.strftime("%d/%m/%Y") %></td>
                <td class="align-middle"><%= essay.category.description %></td>
                <td class="align-middle">
                  <%= link_to rails_blob_path(essay.file, disposition: "preview"), target: "_blank", class: "btn btn-link" do %>
                    <span data-toggle="tooltip" data-placement="top" title="Ver Arquivo">
                      <%= fa_icon 'file-alt' %>
                    </span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= will_paginate @essays, list_classes: %w(pagination justify-content-center),
                                                next_label: "&#62;", previous_label: "&#60;"  %>
      </div>
    </div>
  </div>
</div>